{% extends "layout.html" %}

{% block title %}
Editing reference {{ reference[2] }}
{% endblock %}

{% block body %}


{% if reference[1] == "article" %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <form action="/update_reference" method="post" class="form-article" id="article">
                <div class="form-group row">
                <h3 style="padding-bottom: 20px; padding-top: 20px;">Editing Article {{ reference[2] }}</h3>
                <input type="hidden" name="id" value="{{ reference[0] }}">
                <input type="hidden" name="type" value="article">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Keyword</span>
                    </div>
                    <input type="text" class="form-control" name="name" minlength="2" maxlength="30" value="{{ reference[2] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Author</span>
                    </div>
                    <input type="text" class="form-control" name="author" pattern="[a-zA-ZäöåÄÖÅ,_\.\s]+" title="Author should contain only letters" minlength="2" maxlength="100" value="{{ reference[3] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Title</span>
                    </div>
                    <input type="text" class="form-control" name="title" pattern="[a-zA-ZäöåÄÖÅ,_\.\s]+" title="Title should contains only letters" minlength="2" maxlength="70" value="{{ reference[4] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Journal</span>
                    </div>
                    <input type="text" class="form-control" name="journal" minlength="2" maxlength="70" value="{{ reference[5] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Year</span>
                    </div>
                    <input type="number" class="form-control" name="year" pattern="/^\d+$/" title="Year contain only numbers" min="1000" max="2025" value="{{ reference[6] }}" required>
                  </div>
                <br>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Volume</span>
                    </div>
                    <input type="number" class="form-control"  name="volume" max="50" value="{{ reference[7] }}">
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Number</span>
                    </div>
                    <input type="number" class="form-control" name="number" max="50" value="{{ reference[8] }}">
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Pages</span>
                    </div>
                    <input type="text" class="form-control" name="pages" maxlength="20" value="{{ reference[9] }}">
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Month</span>
                    </div>
                    <select class="form-select" name="month" id="month">
                    <option value=""></option>
                    <option value="january" {% if reference[10]=="january" %}selected="selected"{% endif %}>January</option>
                    <option value="february" {% if reference[10]=="february" %}selected="selected"{% endif %}>February</option>
                    <option value="march" {% if reference[10]=="march" %}selected="selected"{% endif %}>March</option>
                    <option value="april" {% if reference[10]=="april" %}selected="selected"{% endif %}>April</option>
                    <option value="may" {% if reference[10]=="may" %}selected="selected"{% endif %}>May</option>
                    <option value="june" {% if reference[10]=="june" %}selected="selected"{% endif %}>June</option>
                    <option value="july" {% if reference[10]=="july" %}selected="selected"{% endif %}>July</option>
                    <option value="august" {% if reference[10]=="august" %}selected="selected"{% endif %}>August</option>
                    <option value="september" {% if reference[10]=="september" %}selected="selected"{% endif %}>September</option>
                    <option value="october" {% if reference[10]=="october" %}selected="selected"{% endif %}>October</option>
                    <option value="november" {% if reference[10]=="november" %}selected="selected"{% endif %}>November</option>
                    <option value="december" {% if reference[10]=="december" %}selected="selected"{% endif %}>December</option>
                </select>
                </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Note</span>
                    </div>
                    <input type="text" class="form-control" name="note" maxlength="100" value="{{ reference[11] }}">
                  </div>
                <br>
                <br>

                <div class="col-sm-10">
                <button class="btn btn-secondary" type="submit" name="article_update" id="article_update">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{% endif %}

{% if reference[1] == "book" %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <form action="/update_reference" method="post" class="form-book" id="book">
                <div class="form-group row">
                    <h3 style="padding-bottom: 20px; padding-top: 20px;">Editing Book {{ reference[2] }}</h3>
                <input type="hidden" name="id" value="{{ reference[0] }}">
                <input type="hidden" name="type" value="book">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Keyword</span>
                    </div>
                    <input type="text" class="form-control" name="name" minlength="2" maxlength="30" value="{{ reference[2] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Author</span>
                    </div>
                    <input type="text" class="form-control" name="author" pattern="[a-zA-ZäöåÄÖÅ,_\.\s]+" title="Author should contain only letters" minlength="2" maxlength="100" value="{{ reference[3] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Editor</span>
                    </div>
                    <input type="text" class="form-control" name="editor" pattern="[a-zA-ZäöåÄÖÅ,_\.\s]+" title="Editor should contain only letters" minlength="2" maxlength="100" value="{{ reference[13] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Title</span>
                    </div>
                    <input type="text" class="form-control" name="title" pattern="[a-zA-ZäöåÄÖÅ,_\.\s]+" title="Title should contains only letters" minlength="2" maxlength="70" value="{{ reference[4] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Publisher</span>
                    </div>
                    <input type="text" class="form-control" name="publisher" pattern="[a-zA-ZäöåÄÖÅ,_\.\s]+" title="Publisher should contain only letters" minlength="2" maxlength="100" value="{{ reference[14] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Year</span>
                    </div>
                    <input type="number" class="form-control" name="year" pattern="/^\d+$/" title="Year contain only numbers" min="1000" max="2025" value="{{ reference[6] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Volume</span>
                    </div>
                    <input type="number" class="form-control"  name="volume" max="50" value="{{ reference[7] }}">
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Number</span>
                    </div>
                    <input type="number" class="form-control" name="number" max="50" value="{{ reference[8] }}">
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Pages</span>
                    </div>
                    <input type="text" class="form-control" name="pages" maxlength="20" value="{{ reference[9] }}">
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Month</span>
                    </div>
                    <select class="form-select" name="month" id="month">
                    <option value=""></option>
                    <option value="january" {% if reference[10]=="january" %}selected="selected"{% endif %}>January</option>
                    <option value="february" {% if reference[10]=="february" %}selected="selected"{% endif %}>February</option>
                    <option value="march" {% if reference[10]=="march" %}selected="selected"{% endif %}>March</option>
                    <option value="april" {% if reference[10]=="april" %}selected="selected"{% endif %}>April</option>
                    <option value="may" {% if reference[10]=="may" %}selected="selected"{% endif %}>May</option>
                    <option value="june" {% if reference[10]=="june" %}selected="selected"{% endif %}>June</option>
                    <option value="july" {% if reference[10]=="july" %}selected="selected"{% endif %}>July</option>
                    <option value="august" {% if reference[10]=="august" %}selected="selected"{% endif %}>August</option>
                    <option value="september" {% if reference[10]=="september" %}selected="selected"{% endif %}>September</option>
                    <option value="october" {% if reference[10]=="october" %}selected="selected"{% endif %}>October</option>
                    <option value="november" {% if reference[10]=="november" %}selected="selected"{% endif %}>November</option>
                    <option value="december" {% if reference[10]=="december" %}selected="selected"{% endif %}>December</option>
                </select>
                </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Note</span>
                    </div>
                    <input type="text" class="form-control" name="note" maxlength="100" value="{{ reference[11] }}">
                  </div>
                <br>
                <br>
                
                <div class="col-sm-10">
                <button class="btn btn-secondary" type="submit" name="book_update" id="book_update">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% if reference[1] == "misc" %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <form action="/update_reference" method="post" class="form-misc" id="misc">
                <div class="form-group row">
                    <h3 style="padding-bottom: 20px; padding-top: 20px;">Editing Misc {{ reference[2] }}</h3>
                <input type="hidden" name="id" value="{{ reference[0] }}">
                <input type="hidden" name="type" value="misc">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Keyword</span>
                    </div>
                    <input type="text" class="form-control" name="name" minlength="2" maxlength="30" value="{{ reference[2] }}" required>
                  </div>
                <br>
                <br>
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Author</span>
                    </div>
                    <input type="text" class="form-control" name="author" pattern="[a-zA-ZäöåÄÖÅ,_\.\s]+" title="Author should contain only letters" minlength="2" maxlength="100" value="{{ reference[3] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Title</span>
                    </div>
                    <input type="text" class="form-control" name="title" pattern="[a-zA-ZäöåÄÖÅ,_\.\s]+" title="Title should contains only letters" minlength="2" maxlength="70" value="{{ reference[4] }}" required>
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">How Published</span>
                    </div>
                    <input type="text" class="form-control" name="howpublished" minlength="2" maxlength="1000" value="{{ reference[12] }}">
                  </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Month</span>
                    </div>
                    <select class="form-select" name="month" id="month">
                    <option value=""></option>
                    <option value="january" {% if reference[10]=="january" %}selected="selected"{% endif %}>January</option>
                    <option value="february" {% if reference[10]=="february" %}selected="selected"{% endif %}>February</option>
                    <option value="march" {% if reference[10]=="march" %}selected="selected"{% endif %}>March</option>
                    <option value="april" {% if reference[10]=="april" %}selected="selected"{% endif %}>April</option>
                    <option value="may" {% if reference[10]=="may" %}selected="selected"{% endif %}>May</option>
                    <option value="june" {% if reference[10]=="june" %}selected="selected"{% endif %}>June</option>
                    <option value="july" {% if reference[10]=="july" %}selected="selected"{% endif %}>July</option>
                    <option value="august" {% if reference[10]=="august" %}selected="selected"{% endif %}>August</option>
                    <option value="september" {% if reference[10]=="september" %}selected="selected"{% endif %}>September</option>
                    <option value="october" {% if reference[10]=="october" %}selected="selected"{% endif %}>October</option>
                    <option value="november" {% if reference[10]=="november" %}selected="selected"{% endif %}>November</option>
                    <option value="december" {% if reference[10]=="december" %}selected="selected"{% endif %}>December</option>
                </select>
                </div>
                <br>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Year</span>
                    </div>
                    <input type="number" class="form-control" name="year" pattern="/^\d+$/" title="Year contain only numbers" min="1000" max="2025" value="{{ reference[6] }}" required>
                  </div>
                <br>
                <br>
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="width: 150px; display: block; text-align: center;">Note</span>
                    </div>
                    <input type="text" class="form-control" name="note" maxlength="100" value="{{ reference[11] }}">
                  </div>
                <br>
                <br>
                
                <div class="col-sm-10">
                <button class="btn btn-secondary" type="submit" name="misc_submit" id="misc_submit">Submit</button>
            </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}