{% extends "layout.html" %}

{% block title %}
References
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
      <div class="col-8">
<h2>References</h2>

{% if references %}
<div>
  <a type="button" class="btn btn-primary" href="/export_bibtex" role="button" download="references.bib" style="margin-top: 20px;">Download references as BibTeX -file</a>
</div>

{% if not view_as_bibtex %}
<div>
  <form action="/change_list_format" method="post" style="padding-bottom: 20px; padding-top: 20px;">
    <input type="submit" id="view_bibtex_format" value="View in BibTex format" />
  </form>

  <ul class="list-group">
    {% for reference in references %}
      <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: inline-block">
          <!-- author:-->
            {{ reference[3] }}.
          {% if reference[10] %}
          <!--month and year-->
          ({{reference[10]}} {{reference[6]}}),
          <!--just year-->
          {% else %}
          ({{reference[6]}}), 
          {% endif %}
          <!--title-->
          '{{reference[4]}}'
          <!--journal-->
          {% if reference[5] %}, <i>{{ reference[5] }}</i>{% endif %}
          <!--volume-->
          {% if reference[7] %}, volume {{ reference[7] }}{% endif %}
          <!--number-->
          {% if reference[8] %}, number {{ reference[8] }}{% endif %} 
          <!--pages-->
          {% if reference[9] %}, p. {{ reference[9] }}{% endif %} 
          <!--note-->
          {% if reference[11] %}, note: {{ reference[11] }}{% endif %}
          <!--howpublished-->
          {% if reference[12] %}, {{ reference[12] }}{% endif %}
          <!--editor-->
          {% if reference[13] %}, {{ reference[13] }}{% endif %}
          <!--publisher-->
          {% if reference[14] %}, {{ reference[14] }}{% endif %}
        </div>
        <div style="float: right; padding-left: 20px;" >
          {% if reference in selected_references %}
          <script>console.log("{{ reference }}")</script>
          <script>console.log("{{ selected_references[0] }}")</script>
          <form action="/deselect_reference/{{ reference[0] }}" method="post" style="padding-bottom: 5px;">
            <button type="submit" class="btn btn-danger">Deselect</button>
          </form>
          {% else %}
          <form action="/select_reference/{{ reference[0] }}" method="post" style="padding-bottom: 5px;">
            <button type="submit" class="btn btn-primary">Select</button>
          </form>
          <script>console.log("{{ reference }}", "selected")</script>
          <script>console.log("{{ selected_references[0] }}", "selected")</script>
          {% endif %}

          <form action="/edit_reference/{{ reference[0] }}" type="button" name="edit_reference" style="padding-bottom: 5px;">
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
          <form action="/delete_reference/{{ reference[0] }}" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </li>  
    {% endfor %}
  </ul>
</div>
{% else %}
<form action="/change_list_format" method="post" style="padding-bottom: 20px; padding-top: 20px;">
  <input type="submit" id="view_normal_format" value="View in normal format" />
</form>

<div>
  {% for reference in references %}
      <div>
        @{{reference[1]}}&#123;{{reference[2]}},
        <p style="margin-left: 1.5em; margin-top: 0px; margin-bottom: 0px;">
          <!-- author:-->
          author = &#123;{{ reference[3] }}&#125;,
          
          <br>
          <!--title-->
          title = &#123;{{ reference[4] }}&#125;,

          <!--journal-->
          {% if reference[5] %}<br>journal = &#123;{{ reference[5] }}&#125;, {% endif %}

          <br>
          <!--year-->
          year = &#123;{{reference[6]}}&#125;
          
          <!--volume-->
          {% if reference[7] %},<br>volume = &#123;{{ reference[7] }}&#125;{% endif %}
          
          <!--number-->
          {% if reference[8] %},<br>number = &#123;{{ reference[8] }}&#125;{% endif %} 
          
          <!--pages-->
          {% if reference[9] %},<br>pages = &#123;{{ reference[9] }}&#125;{% endif %} 

          <!--month:-->
          {% if reference[10] %},<br>month = &#123;{{reference[10]}}&#125;{% endif %}
          
          <!--note-->
          {% if reference[11] %},<br>note = &#123;{{ reference[11] }}&#125;{% endif %}

          <!--howpublished-->
          {% if reference[12] %},<br>howpublished = &#123;{{ reference[12] }}&#125;{% endif %}
    
          <!--editor-->
          {% if reference[13] %},<br>editor = &#123;{{ reference[13] }}&#125;{% endif %}

          <!--publisher-->
          {% if reference[14] %},<br>publisher = &#123;{{ reference[14] }}&#125;{% endif %}
        </p>
        &#125;
      </div>
    <br>
  {% endfor %}
    </div>


{% endif %}
{% else %}

<div>
  No references in database.
</div>

{% endif %}

</div>
</div>
</div>

<script>
  function confirmDelete(form) {
    if (confirm("Are you sure you want to delete this reference?")) {
      form.submit();
    }
  }
</script>

{% endblock %}
