{% extends "layout.html" %}

{% block title %}
References
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
      <div class="col-8">
<h2>References</h2>


<ul>
  {% for reference in references %}
      <div>
        @{{reference[1]}}&#123;{{reference[2]}},
        
        <br>
        <!-- author:-->
        author = &#123;{{ reference[3] }}&#125;,
        
        <br>
        <!--title-->
        title = &#123;{{ reference[4] }}&#125;,

        <!--journal-->
        {% if reference[5] %}<br>journal = &#123;{{ reference[5] }}&#125;, {% endif %}

        <br>
        <!--year-->
        year = &#123;{{reference[6]}}&#125;
        
        <!--volume-->
        {% if reference[7] %},<br>volume = &#123;{{ reference[7] }}&#125;{% endif %}
        
        <!--number-->
        {% if reference[8] %},<br>number = &#123;{{ reference[8] }}&#125;{% endif %} 
        
        <!--pages-->
        {% if reference[9] %},<br>pages = &#123;{{ reference[9] }}&#125;{% endif %} 

        <!--month:-->
        {% if reference[10] %},<br>month = &#123;{{reference[10]}}&#125;{% endif %}
        
        <!--note-->
        {% if reference[11] %},<br>note = &#123;{{ reference[11] }}&#125;{% endif %}

        <!--howpublished-->
        {% if reference[12] %},<br>howpublished = &#123;{{ reference[12] }}&#125;{% endif %}
  
        <!--editor-->
        {% if reference[13] %},<br>editor = &#123;{{ reference[13] }}&#125;{% endif %}

        <!--publisher-->
        {% if reference[14] %},<br>publisher = &#123;{{ reference[14] }}&#125;{% endif %}
        <br>
        &#125;</div>
  <br>
  {% endfor %}
</ul>

</div>
</div>
</div>

{% endblock %}
